<!DOCTYPE html>
<html ng-app="ohhell">
    <head>
        <title>Oh Hell</title>
    </head>
    <body>

        <div ng-view></div>

        <script src="js/thirdparty/angular.js"></script>

        <script src="js/RoundScore.js"></script>
        <script src="js/Round.js"></script>
        <script src="js/Game.js"></script>
        <script src="js/controllers.js"></script>

        <script src="js/service.js"></script>
        <script src="js/filter.js"></script>
        <script src="js/app.js"></script>

        <script type="text/ng-template" id="landing.html">
            <h1>Oh Hell</h1>

            <input type="button" value="New Game" ng-click="setup()"/>
        </script>

        <script type="text/ng-template" id="setup.html">
            <h1>Setup</h1>

            <form>
                <h2>Who is playing?</h2>
                <input ng-list ng-model="players" placeholder="1st dealer, 2nd dealer, etc"/>

                <h2>Play up to...</h2>
                <select ng-model="maxRound" ng-options="i.toString() for i in [1, 2, 3, 4, 5, 6, 7, 8]"></select>
            </form>

            <input type="button" value="Start Game" ng-click="startGame()"/>
        </script>

        <script type="text/ng-template" id="round.html">
            <h1>Round {{round.getName()}}</h1>

            <table>
                <tr>
                    <th>Player</th>
                    <th>Bid</th>
                    <th>Result</th>
                    <th>Points</th>
                </tr>
                <tr ng-repeat="score in round.getScores()">
                    <td>{{score.getPlayer()}}</td>
                    <td>
                        <select ng-model="score.bid" ng-options="i.toString() for i in 0 | upto:round.getMaxTricks()"></select>
                    </td>
                    <td>
                        <input type="button" value="Got Bid" ng-click="score.madeBid()"/>
                        <input type="button" value="Missed Bid" ng-click="score.missedBid()"/>
                    </td>
                    <td>{{score.getPoints() | sign }}</td>
                </tr>
            </table>

            <input type="button" value="Round Finished" ng-click="roundFinished()"/>
        </script>

        <script type="text/ng-template" id="summary.html">
            <h1>Game Summary</h1>

            <table>
                <tr>
                    <th></th>
                    <th ng-repeat="round in rounds">
                        {{round.getName()}}
                    </th>
                    <th>Total</th>
                </tr>
                <tr ng-repeat="stat in stats | orderBy:rank">
                    <td>{{stat.rank}} {{stat.player}}</td>
                    <td ng-repeat="score in stat.scores">
                        <span ng-show="score.isReported()">{{score.getBid()}}</span>
                    </td>
                    <td>{{stat.total}}</td>
                </tr>
            </table>

            <input type="button" value="Next Round" ng-show="hasNextRound()" ng-click="nextRound()"/>
        </script>
    </body>
</html>