<!DOCTYPE html>
<html ng-app="ohhell">
    <head>
        <meta charset="utf-8">
        <title>Oh Hell</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
            .table .success {
                background-color: #DFF0D8;
            }

            .table .error {
                background-color: #F2DEDE;
            }

            #round-details {
                position: fixed;
                top: 60px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div ng-view></div>
        </div>

        <script type="text/ng-template" id="scoreboard.html">
            <h1>Scoreboard</h1>
            <table class="table table-bordered">
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>Total</th>
                    <th ng-repeat="round in rounds">
                        {{round.getName()}}
                    </th>
                </tr>
                <tr ng-repeat="stat in stats | orderBy:rank">
                    <td>{{stat.rank | place}}</td>
                    <td>{{stat.player}}</td>
                    <td>{{stat.total}}</td>
                    <td ng-repeat="score in stat.scores" ng-class="{success: score.gotBid == true, error: score.gotBid == false}">
                        <span ng-show="score.isReported()">{{score.getBid()}}</span>
                    </td>
                </tr>
            </table>

            <input class="btn" type="button" value="Next Round" ng-show="hasNextRound()" ng-click="nextRound()"/>
            <input class="btn" type="button" value="Done" ng-hide="hasNextRound()" ng-click="done()"/>
        </script>

        <script src="model.js"></script>
        <script src="controller.js"></script>
        <script src="service.js"></script>
        <script src="filter.js"></script>
        <script src="app.js"></script>
    </body>
</html>